/* @import url(fontawesome.min.css); */
/* 共通 */
.wrap {
	overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'メイリオ', 'Meiryo', 'NotoSansCJKjp', sans-serif;
  color: #727272;
  font-size: 90%;
}
.padding-zero {
  padding: 0px;
}
.padding-btm {
  padding-bottom: 10%;
}
.padding-tp {
  padding-top: 5%;
}
.margin-zero {
  margin: 0px;
}
.nav-link {
  color: #9b9b9b;
  font-weight: 500;
}
.nav-link:hover {
  color: #ffb64f;
  text-decoration: none;
}
a {
  color: #f38e00;
  transition: all 0.3s ease;
  z-index: 5;
}
a:focus {
  outline: none;
  z-index: 5;
}
a:hover,
input:active {
  color: #ffb246;
  z-index: 5;
}
h4 {
  text-align: center;
  font: 90%;
  text-shadow: 0 0 20px #fff;
}
h4 span{
  position: relative;
  display: inline-block;
  padding: 0 0.2em;
}
h4 span::before, h4 span::after{
  position: absolute;
  top: 50%;
  content: '';
  width: 30%;
  height: 1px;
  background-color: #000;
}
h4 span::before {left: 100%;}
h4 span::after { right: 100%;}
h5 {
  padding: 5px 0 5px 20px;
  border-left: 7px solid #f38e00;
  text-shadow: 0 0 30px #fff;
}
.h5-none {
  font: 95%;
}
h6 {
  position: relative;/*相対位置*/
  line-height: 1.4;/*行高*/
  display: inline-block;
  font-size: 120%;
}
h6:before, h6:after { 
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-size: 100%;
  color: #f38e00;
}
h6:before {
  content:"\f053";/*アイコン種類*/
  padding-right: 0.5em
}
h6:after {
  content:"\f054";/*アイコン種類*/
  padding-left: 0.5em
}
.anchor{
  display: block;
  padding-top: 1%;
  margin-top: 0px;
}
@media screen and (min-width: 650px){	
  .br-sp { display:none; }
}
@media screen and (max-width: 650px){	
  .br-sp { display:block; }
}

  /* 共通 End*/
  
  /* トップ */
.tm-section-pad-top {
  padding-top: 90px;
}
.tm-font-big {
  font-size: 1.1rem;
}
.tm-navbar.scroll .navbar-toggler-icon {
  background-color: #fff;
  color: #727272;
}
@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 65px;
　}

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 30px;
  }
  .nav-link-flags{
    padding-right: 0px;
    padding-left: 0px;
  }
}
.tm-navbar.scroll .navbar-brand {
  background-color: #fff;
  color: #727272;
}
/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
}

@media (max-width: 767px) {
  .tm-btn-submit {
    margin-left: 20px;
    margin-top: 0;
  }
/* navbar-nav  */
  .navbar-collapse {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    min-width: 4rem;
  }
  .navbar-collapse .nav-link {
    color: #8f8f8f;
  }
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #f38e00;
}
.tm-navbar.scroll .navbar-brand {
  color: #727272;
}
.nav-item {
  list-style: none;
}
.tm-nav-link {
  color: #f38e00;
}
.tm-navbar.scroll .tm-nav-link {
  color: #727272;
}
.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #ffb246;
}
.navbar-toggler {
  border: 1px solid #727272;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-toggler-icon {
  color: #727272;
  padding-top: 6px;
}
.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #727272;
}
.tm-navbar.scroll .navbar-toggler-icon {
  color: #727272;
}

/* top */

#top {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
  font-weight: bold;
}
@media (min-height: 830px) {
  #top {
    background-position: center -210px;
  }
}
@media (min-height: 680px) and (max-height: 829px) {
  #top {
    background-position: center -300px;
  }
}
@media (min-height: 500px) and (max-height: 679px) {
  #top {
    background-position: center -400px;
  }
}
@media (max-height: 499px) {
  #top {
    background-position: center -450px;
  }
}
.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.tm-hero-text-container-inner {
  margin-top: -90px;
}
.tm-hero-title {
  font-size: 300%;
  font-weight: bold;
  text-shadow: 2px 2px 2px #333;
}
.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}
@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }
  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 18%;
}
.tm-down-arrow {
  color: #f38e00;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 10px 22px 8px;
  transition: all 0.3s ease;
}
.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #fff;
  background: #ffb246;
}
.intro img {
  margin-bottom: 20px;
 }

 /* トップ End*/
 
 #jigyou {
  padding-top: 4%;
  padding-bottom: 4px;
  background-size: cover;
  background: url("../images/cta03.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height:100%;
  background-color: #000;
  z-index: 0;
}
#jigyou::before {
  content: ' ';
  background-color: rgba(251, 255, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
 .serv-icon-bg {
  padding:3%;
  background-color: #ffb246;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
 .serv-icon {
  color:#ffffff;  
  padding-top: 10%;
  padding-bottom: 10%;
}
.serv-detail{
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.87);
  z-index: 2;
}

.serv-p-style,
.serv-p-style > span,
.update-main-style > p,
.update-main-style > ul,
.update-main-style > li,
.update-main-style > span {
  font-size: 90%;
}

#gaiyou .list-style-non{
  list-style-type: none;
}
.profile-img {
  padding: 0% 3% 0% 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: top;
  display: inline-block;
}
.profile-h6-pad-top {
  padding-top: 3%;
}
.update-padding-btm {
  padding-bottom: 30px;
}
 
 /* Blockquote */
.blockquote-img{
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url("../images/bg.jpg");
}
.blockquote-wrapper {
  display: flex;
  height: auto;
  padding: 0px;
}
 /* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 400px;
  padding: 0px;
}
 /* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0 0 10px #1d3557;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
 /* Blockquote header */
.blockquote h1 {
    position: relative;
    color: #ffffff;
    text-shadow: 0 0 10px #1d3557;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}
 /* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: rgba(255, 255, 255, 0.4);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}
 /* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 60px;
  }
} 
 /* Blockquote subheader */
.blockquote h5 {
    position: relative;
    color: #ffffff;
    text-shadow: 0 0 10px #1d3557;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 5px;
    z-index: 1;
}
 /* Blockquote End */
  
/* 大見出し */
.ctitle {
  margin-top: 100px;
  margin-bottom: 80px;
}
.ctitle h4 {
  color: #f38e00;
  font-weight: bolder;
  font-size: 220%;
}
/* 大見出し End*/

/* 小見出し */
.categoris {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 70%;
}
.categoris > h4 {
  margin-left: 10px;
}
.detail {
  margin: 10px 0px 40px 10px;
}
/* 小見出し End*/

/* Google Map */
.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  margin-bottom: 20px;
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* Google Map End*/

/* Icon */
.trnspt-icon {
  padding-right: 7px;
}
/* Icon End */

/* Img */
.member-img{
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}
.member-img:hover{
  opacity: 0.6;
  transition-duration: 0.5s;
}

.p-style{
  font-size: 120%;
  padding: 10px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
}
/* img End */

/* Footer */
.tm-underline {
  border-top: 2px solid #fff;
  height: 8px;
  width: 100%;
  z-index: 1;
}
.tm-underline-inner {
  width: 25%;
  height: 8px;
  background: #fff;
  z-index: 1;
}
.footer-bg {
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 20px;
  background-size: cover;
  background: url("../images/aaa.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height:100%;
  background-color: #000;
}
.footer-bg::before {
  content: ' ';
  background-color: rgba(0, 124, 27, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-box {
  position: absolute;
  width: 100%;
  text-align: center;
}
footer ul {
  z-index: 2; 
  color: #fff;
  font-size: 90%;
}
footer h1 {
  padding-bottom: 20px;
  font-weight: 200;
  color: #fff;
  font-size: 120%;
  z-index: 1;
}
footer h2 {
  font-weight: 200;
  color: #fff;
  font-size: 100%;
}
footer h1 a,
footer h2 a,
footer ul a,
footer h9 a {
  font-size: 120%;
  color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
footer h1 a:hover,
footer h2 a:hover,
footer ul a:hover,
footer h9 a:hover {
  font-weight: 200;
  color: #ffb246;
  text-decoration: none;
}
footer h9 {
  color: #fff;
  z-index: 3;
  padding-top: 50px;
}
footer .cpright {
  padding-bottom: 10px;
}
footer a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffb246;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
footer a:hover::after {
  transform: scale(1, 1);
}
/* Footer End */

/* Form */
.form-control {
  border: solid 2px #f38e00;
  margin-right: 50px;
}
.form-control:focus {
  border-color: #f38e00;
  box-shadow: inset 0 1px 1px rgba(243, 142, 0, 0.07), 0 0 8px rgba(243, 154, 30, 0.8);
  }
.form-btn-position {
  align-self: center;
}
/* Form End */

/* Check Box */
.grad-btn {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  margin: auto;
  padding: .5em 0;
  border-radius: 10px;
  background: #f38e00;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: .2s ease;
}
.grad-btn::before {
  content: "さらに表示"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
  padding-bottom: 50px;
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /*グラデーションで隠す高さ*/
  background: #fff;
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる"; /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
  padding-bottom: 50px;
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}
/* Check Box End */

#topbutton {
  /* ▼ボタンの表示位置を画面の右下に固定 */
  position: fixed; /* ←表示場所を固定 */
  bottom: 18px;   /* ←下端からの距離 */
  right: 18px;    /* ←右端からの距離 */
  width: 50px;     /* ←横幅 */
  z-index: 1000;

  /* ▼最初は非表示にしておく */
  display: none;

  /* ▼配色・配置・文字の装飾など */
  color: #fff;          /* ←文字色 */
  background-color: #f38e00; /* ←背景色 */
  opacity: 0.75;        /* ←透明度 */
  border-radius: 25px;  /* ←角丸の半径 */
  text-align: center;  /* ←文字の位置 */
  font-size: 120%;     /* ←文字サイズ */
  font-weight: bold;   /* ←文字の太さ */
  margin: 0px;          /* ←外側の余白 */
  padding: 10px;       /* ←内側の余白 */
 }
 #topbutton:hover {
  /* ▼リンクの装飾 */
  background-color: #ffb64f; /* ←背景色 */
  text-decoration: none; /* ←下線なし */
 }