/* 共通 */
body {
    font-family: 'メイリオ', 'NotoSansCJKjp', Meiryo, sans-serif;
    color: #000;
    font-size: 90%;
}
.padding-zero {
    padding: 0px;
}
.padding-btm {
    padding-bottom: 100px;
}
.margin-zero {
    margin: 0px;
}
.nav-link {
    color: #7a7a7a;
}
.nav-link:hover {
    color: #f38e00;
}
a {
    color: #f38e00;
}
a:hover,
input:active {
    color: #ffb246;
}
h4 {
    text-align: center;
    font: 90%;
}
h4 span{
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
}
h4 span::before, h4 span::after{
    position: absolute;
    top: 50%;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #000;
}
h4 span::before {left: 100%;}
h4 span::after { right: 100%;}
h5 {
    padding: 5px 0 5px 20px;
    border-left: 7px solid #f38e00;
}
.h5-none {
    font: 95%;
}
h6 {
    border-bottom: double 2px #FFC778;
  }
.anchor{
    display: block;
    padding-top: 50px;
    margin-top: 0px;
}
  /* 共通 End*/
  
  /* トップ */
.jumbotron{
    position: relative;
    overflow: hidden;
    height: 100vh;
    border-radius: 0px;
    margin-bottom: 0px;
  }
.jtitle {
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 900;
    font-size: 150%;
    color: #000;
    -webkit-text-stroke: 1px #000;
    text-shadow: 0 0 5px #fff;
}
.jtitle  h1{
    font-weight: 900;
    padding-top: 250px;
    color: #000;
    -webkit-text-stroke: 3px #000;
    text-shadow: 0 0 10px #fff;
 }
 .jtitle a:hover{
    text-shadow: 0 0 20px rgb(0, 0, 0);
 }
 .jtitle a{
    color: #000;
 }
 #video-background{ 
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}
 /* トップ End*/

.row-content {
    margin: 0px auto;
    padding: 20px 0px;
    border-bottom: 3px  #f38e00;
    min-height: 300px;
 }
 .intro img {
    /* height: auto;
    width: 100%; */
    margin-bottom: 20px;
 }
 @media (max-width: 991px)
.tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 .serv-img {
    height: 130px;
    width: auto;
 }
 .media-p-style {
    /* font-size: 80%; */
}
.media-p-style > span {
    /* font-size: 80%; */
}
#jigyou{
   background: #fffce2;
}
#toiawase{

}

 /* Blockquote */
.blockquote-img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url("../images/bg.jpg");
}
.blockquote-wrapper {
    display: flex;
    height: auto;
    padding: 0px;
 }
 /* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    height: 400px;
    padding: 0px;
 }
 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     color: #ffffff;
     text-shadow: 0 0 10px #1d3557;
     padding: 30px 0;
     width: 100%;
     max-width: 500px;
     z-index: 1;
     margin: 80px auto;
     align-self: center;
     border-top: solid 1px;
     border-bottom: solid 1px;
 }
 /* Blockquote header */
 .blockquote h1 {
     position: relative;
     color: #ffffff;
     text-shadow: 0 0 10px #1d3557;
     font-size: 40px;
     font-weight: 800;
     line-height: 1;
     margin: 0;
 }
 /* Blockquote right double quotes */
 .blockquote:after {
     position: absolute;
     content: "”";
     color: rgba(255, 255, 255, 0.4);
     font-size: 10rem;
     line-height: 0;
     bottom: -43px;
     right: 30px;
 }
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 60px;
    }
 } 
 /* Blockquote subheader */
 .blockquote h5 {
     position: relative;
     color: #ffffff;
     text-shadow: 0 0 10px #1d3557;
     font-size: 1.4rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     padding-top: 5px;
     z-index: 1;
 }
 /* Blockquote End */
  
/* 大見出し */
.ctitle {
    margin-top: 100px;
    margin-bottom: 80px;
}
.ctitle h4 {
    color: #f38e00;
    font-weight: bolder;
    font-size: 220%;
}
/* 大見出し End*/

/* 小見出し */
.categoris {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
}
.categoris > h4 {
    margin-left: 10px;
}
.detaile {
    margin: 10px 0px 40px 10px;
}
/* 小見出し End*/

/* Google Map */
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    margin-bottom: 20px;
}
.gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
/* Google Map End*/

/* Icon */
.trnspt-icon {
    padding-right: 7px;
}
.serv-icon {
    color:#f38e00;
    padding-right: 30px;
    padding-left: 30px;
}
/* Icon End */

/* Img */
.member-img{
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}
.member-img:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
  }
#profile1{
    background: #ffc9d7;
}
.p-style{
    font-size: 120%;
    padding: 10px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
}
/* img End */

/* Footer */
.footer-bg{
    margin-top: 40px;
    padding-top: 70px;
    padding-bottom: 170px;
    background-size: cover;
    background: url("../images/footer.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height:100%;
    background-color: #000;
}
.footer-bg::before{
    content: ' ';
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer-box{
    position: absolute;
    width: 100%;
    text-align: center;
}

footer h2,
footer ul{
    color: #fff;
    z-index: 1;
}
footer h1{
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 2px #fff;
    z-index: 2;
 }
 footer h1 a{
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 2px #fff;
 }
 footer h1 a:hover {
    font-weight: 900;
    color: #f38e00;
    -webkit-text-stroke: 3px #f38e00;
 }
/* Footer End */

/* Form */
.form-control:focus {
    border-color: #f38e00;
    box-shadow: inset 0 1px 1px rgba(243, 142, 0, 0.07), 0 0 8px rgba(243, 154, 30, 0.8);
  }
.form-btn-position {
    align-self: center;
}
/* Form End */

/* Check Box */
.grad-btn {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    margin: auto;
    padding: .5em 0;
    border-radius: 10px;
    background: #f38e00;
    color: #000;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
  }
  .grad-btn::before {
    content: "さらに表示"
  }
  .grad-item {
    position: relative;
    overflow: hidden;
    height: 80px; /*隠した状態の高さ*/
  }
  .grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }
  .grad-trigger {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger:checked ~ .grad-btn::before {
    content: "閉じる" /*チェックされていたら、文言を変更する*/
  }
  .grad-trigger:checked ~ .grad-item {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger:checked ~ .grad-item::before {
    display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
  }
/* Check Box End */