@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
/* @import url(fontawesome.min.css); */
html,
body{
    margin: 0;
    font-size: 90%;
}
h3 {
    color: #ff1f9a;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #ff1f9a;/*上線*/
    border-bottom: solid 3px #ff1f9a;/*下線*/
    text-align: center;
    font-weight: bold;
  }
.padding_btm_70 {
    padding-bottom: 70px;
}
.padding_btm_100 {
    padding-bottom: 100px;
}
.padidng_tp {
    padding-top: 100px;
}
.detail{
    padding: 5px 0px 5px 0px;
}
footer a {
    color: #fff;
}
footer {
    color: #fff;
    background-color: #000;
    padding: 50px 0px 50px 0px;
}
footer h1,
footer h2 {
    font-size: 100%;
}
.anchor{
  display: block;
  padding-top: 7%;
  margin-top: 0px;
}

/* お悩み */
#onayami  .onayami_box {
    padding-bottom: 40px;
}
#onayami  .onayami_img {
    height: 400px;
    /* width: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 200px;
    border: 7px solid #ff1f9a;
}
#onayami .onayami_box > ul{
    text-align: center;
    list-style: none;
}
.onayami_menu_link{
    text-align: center;
}
.onayami_menu_link a{
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 0 10px;
    color: #fff;
    border-radius:25px;
    box-shadow:4px 4px #555;
    background-image:-moz-linear-gradient(
    top,
    #fc6bbb 0%,
    #ff1f9a);
    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#fc6bbb),
    to(#ff1f9a));
}
.onayami_menu_link a:hover{
    color: #fff;
    background-image:-moz-linear-gradient(
    top,
    #fa96cd 0%,
    #ff4fb0);
    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#fa96cd),
    to(#ff4fb0));
}
/* お悩み End*/

/* あいさつ */
#aisatsu {
    background-color: #f0e2ff;
}
#aisatsu .detail{
    font-size: 110%;
}
#aisatsu  .aisatsu_img {
    /* height: 250px; */
    margin-bottom: 30px;
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    border: 7px solid #ffffff;
}
/* あいさつ　End */

/* お知らせ */
/*ボックス全体*/
.accbox {
    margin: 2em 0;
    padding: 0;
    /* max-width: 400px;最大幅 */
}

/*ラベル*/
.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 13px 12px;
    color: #ff1f9a;
    font-weight: bold;
    background: #ffffff;
    cursor :pointer;
    border: 2px solid #ff1f9a;
    /* transition: all 0.5s; */
}

/*アイコンを表示*/
.accbox label:before {
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107"; /*←ココ！！！！！！！*/
    padding-right: 8px;
}

/*ラベルホバー時*/
.accbox label:hover {
    color: #fc6bbb;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: auto;
    padding: 20px 20px 20px 25px;
    background: #ff9bd72f;
    opacity: 1;
    font-weight: bold;
    color: #ff1f9a;
}

/* .accbox .accshow p {
    margin: 15px 10px;
} */

/*アイコンを入れ替える*/
.cssacc:checked + label:before {
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f106"; /*←ココ！！！！！！！*/
}

/* お知らせ End */


/* Google Map */
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    margin-bottom: 20px;
  }
  .gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  /* Google Map End*/
.access_detail i {
    padding-right: 10px;
}
.access_detail span {
    /* font-weight: bold; */
    font-size: 110%;
}
.access_detail li {
    padding-bottom: 15px;
}

/* Nav bar */
#nav {
    z-index: 1000;
}
.navbar {
    background-color: #ff1f9a;
    font-weight: bold;
}
.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: #5e0033;
}

.navbar-toggler {
    color: #fff;
    background-color: #fff;
}
.dropdown-menu {
    background: transparent;
    border-style: none;
}
.dropdown-menu > a {
    font-size: 90%;
    margin: 0px;
    padding 0px;
    color: #fff;
    background-color: #ff1f9a;
}
.dropdown-menu > a:hover {
    background-color: #fff;
    border-style: none;
}

/* Nav bar End */


/*  */
.carousel,
.carousel-item {
    padding-top:30px ;
    height: 400px;
}

/*  */

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
 
}
