/* トップ */
.jumbotron{
    position: relative;
    overflow: hidden;
    height: 100vh;
    border-radius: 0px;
    margin-bottom: 0px;
  }
.jtitle {
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 900;
    font-size: 150%;
    color: #000;
    -webkit-text-stroke: 1px #000;
    text-shadow: 0 0 5px #fff;
}
 .jtitle  h1{
    font-weight: 900;
    padding-top: 250px;
    color: #000;
    -webkit-text-stroke: 3px #000;
    text-shadow: 0 0 10px #fff;
 }
 .jtitle a:hover{
    color: #f38e00;
    -webkit-text-stroke: 3px #f38e00;
    text-shadow: 0 0 10px #fff;
 }
 .jtitle a{
    color: #000;
 }
 #video-background{ 
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

 /* トップ End*/

 #jigyou{
     background-color: #FFFCF2;
    /* background: #FFFCF2; */
}

.breakimg{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url("../images/bg.jpg");
}
  
/* 大見出し */
.ctitle {
    margin-top: 100px;
    margin-bottom: 80px;
    color: #122755;
}
/* 大見出し End*/

/* 小見出し */
.categoris {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
}

.categoris > h4 {
    margin-left: 10px;
}

.detaile {
    margin: 10px 0px 40px 10px;
}
/* 小見出し End*/

/* Google Map */
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    margin-bottom: 20px;
}
.gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
/* Google Map End*/

/* Icon */
i {
    padding-right: 7px;
}
/* Icon End */

/* Footer */
footer {
    padding-top: 70px;
    padding-bottom: 170px;
    background-size: cover;
    background-image: url("../images/footer.jpg");
    color: #fff;
}
/* Footer End */

/* Img */
.service-img{
    height: 200px;
    width: 320px;
    display: block;
    margin: 0 auto;
}
.member-img{
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}
.member-img:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
  }
#profile1{
    background: #ffc9d7;
}

.p-style{
    font-size: 120%;
    padding: 10px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
}
/* img End */

/* 共通 */
body {
    font-family: 'NotoSansCJKjp', Meiryo, sans-serif;
    color: #000;
}

.padding-zero {
    padding: 0px;
}
.padding-btm {
    padding-bottom: 100px;
}

/* h3 {
    position: relative;
    display: inline-block;
    margin: 47px 0;
    text-shadow: 0 0 2px white;
}
h3:before {
    content: "";
    position: absolute;
    background: #93d9ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
    box-shadow: 0px 0px 0px 5px #93d9ff;
} */
/* h4 {
    position: relative;
    color: #000;
    text-shadow: 0 0 2px white;
  }
  
  h4:before {
    content: "";
    position: absolute;
    background: #a9e1ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  } */
h3 {
    text-align: center;
}

h3 span{
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
}
h3 span::before, h3 span::after{
    position: absolute;
    top: 50%;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #1d3557;
}
h3 span::before {left: 100%;}
h3 span::after { right: 100%;}


h4 {
    padding: 5px 0 5px 20px;
    border-left: 7px solid #f38e00;
}
.anchor{
    display: block;
    padding-top: 50px;
    margin-top: 0px;
}
  /* 共通 End*/